.navbar {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 8px 15%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #101010;
  box-shadow: 0 4px 6px 0 #10101050;
}

.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex: 1 1 auto;
  display: inline-flex;
}

@media only screen and (max-width: 640px) {
  .navbar > ul > li {
    display: none;
    opacity: 0;
  }
}

.navbar > ul > li {
  margin: 12px;
}

.navbar > ul > li > a {
  padding-top: 4px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: color 200ms ease-in 0s;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.navbar > ul > li > a::after {
  content: "";
  margin-top: 2px;
  height: 2px;
  width: 0;
  opacity: 0;
  background-color: #25c0a0;
  transition: width 240ms ease-in 0s, opacity 200ms ease-in 0s;
}

.navbar > ul > li > a:active {
  opacity: 0.8;
}

.navbar > ul > li > a:hover {
  color: #25c0a0;
}

.navbar > ul > li > a:hover:after {
  width: 100%;
  opacity: 1;
}

.navbar > button {
  margin: 12px;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  background-color: #fff;
  border-radius: 4px;
}

.navbar > button:hover {
  background-color: #25c0a0;
  color: #fff;
}

.navbar > button > svg {
  width: 16px;
  margin-right: 8px;
  fill: #101010;
}

.navbar > button:hover > svg {
  fill: #fff;
}
